body {
    width: 80%;
    margin: auto;
}

.jumbotron {
    background: url(../images/thomas.png);
    color: #008080;
    text-shadow: -3px 0 #ffffff, 0 3px #ffffff, 3px 0 #ffffff, 0 -3px #ffffff;
    text-align: center;
}

.card-header {
    background: #008080;
    color: #ffffff;
}